@import "Variables.module.scss";

.wrapper {
  @include wrapper;
  min-height: 866px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  p {
    @include lead;
  }

  button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
    background-color: $brand-primary-color;
    border-radius: 8px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    outline: none;
    box-shadow: none;
    border: none;
    font-feature-settings: "liga" off;
    margin-top: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.circle_purple {
  fill: $brand-primary-color;
  position: absolute;
  top: -100px;
  right: -295px;
  z-index: -1;
  opacity: 50%;
}

.circle_orange {
  fill: $brand-compliment-color;
  position: absolute;
  z-index: -1;
  right: 461px;
  top: 433px;
}

.circle_green {
  fill: $brand-accent-color;
  position: absolute;
  z-index: -1;
  right: 161px;
  top: 689px;
}

.content {
  display: flex;
  overflow: visible;
}

.left {
  width: 540px;
}

.image_container {
  transform: matrix3d(
    0.9306,
    -0.12,
    0,
    0.0005,
    0.12,
    0.9306,
    0,
    0,
    0,
    0,
    1,
    0,
    70,
    -20,
    0,
    1
  );
  transform-style: preserve-3d;
  width: 500px;
}

.image {
  box-shadow: 48px 24px 48px rgba(24, 37, 56, 0.12);
  border-radius: 8px;
}

@media (max-width: 780px) {
  .image_container {
    display: none;
  }
  .left {
    width: 490px
  }

  .circle_orange {
    top: 533px;
  }
  .wrapper {
  }

}
