$gray900: #18191f;
$brand-font: "Manrope";
$brand-primary-color: #8c30f5;
$brand-accent-color: #75e3ea;
$brand-compliment-color: #ffc278;
$brand-purple-100: #f1e4ff;
$brand-turqoise-800: #75e3ea;
$brand-turqoise-100: #d5fafc;

@mixin horizontal_padding {
  padding-left: 16px;
  padding-right: 16px;
}

@mixin wrapper {
  @include horizontal_padding;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

@mixin medium_label {
  font-family: $brand-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "liga" off;
  color: #000000;
}

@mixin heading1 {
  font-family: $brand-font;
  font-style: normal;
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 6.125rem;
  margin: 0;
}

@mixin heading2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 64px;
  /* identical to box height, or 133% */

  text-align: center;
  font-feature-settings: "liga" off;

  /* Text / Gray 900 */

  color: #18191f;
}

@mixin lead {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: "liga" off;
  color: #18191f;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@mixin subtitle1 {
  /* Subtitle / Subtitle 1 */

  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  font-feature-settings: "liga" off;

  /* Text / Gray 900 */

  color: #18191f;
}

@mixin lead2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: "liga" off;

  /* Text / Gray 700 */

  color: #969bab;
}
